dav_tools>=0.4.22
# progress>=1.6
pydantic>=2.10.4
sql-error-taxonomy>=1.0.2
sqlscope>=1.0.6
sqlglot
dotenv
openai

# Dependencies for development
ipython

# Dependencies for building
build
autoapi
pytest
sphinx-autoapi
